
////////////////////////////////
//Tailwind Imports//
////////////////////////////////

@tailwind preflight;
@tailwind components;
@tailwind utilities;

////////////////////////////////
//Custom CSS//
////////////////////////////////

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1b1b1b;
}

mark {
  background: #f7e167;
}

.sticky-header {
    z-index: 50;
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    background: #1B1B1B;
    padding-top: 20;
}



.icon-search {
  i {
    transform: rotate(90deg);
  }
}

.menu {
  .line {
    width: 2em;
    height: 2px;
  }
}

.search-form {
  transition: height 300ms;
}

.home-hero {
  background: url('/img/hero-home.jpg') no-repeat center center;background-size: cover;

  @media (max-width: 767px) {
    background: #1b1b1b;
  }
}

.about-hero {
  background: url('/img/hero-about.jpg') no-repeat center center;
  background-size: cover;
}

.pyrosim-hero {
  background: url('/img/hero-pyrosim.jpg') no-repeat center center;background-size: cover;
}

.home-about,
.about-history,
.pyrosim-testimonials, .pathfinder-testimonials , .petrasim-testimonials  {
  background: url('/img/bg-about.svg') no-repeat center center;background-size: cover;
}

.pyrosim-casestudy, .pathfinder-casestudy , .petrasim-casestudy  {
  background: url('/img/pyrosim-casestudy.jpg') no-repeat center center;background-size: cover;
}

.pathfinder-hero {
  background: url('/img/hero-pathfinder.png') no-repeat center center;background-size: cover;
}

.petrasim-hero {
  background: url('/img/hero-petrasim.png') no-repeat center center;background-size: cover;
}

.casestudy-next,
.casestudy-prev,
.testimonials-next,
.testimonials-prev,
.slider-next,
.slider-prev {
  top: 50%;
  transform: translateY(-50%);
}

.list-slider {
    .slick-slide {
        padding: 0 2em;
    }
}

.slick-slide {
  height: auto !important;
}

.toggle-content {
    max-height: 0;
    margin-top: -1em;
    transition: max-height 300ms, margin-top 500ms;

    &.open {
        max-height: 9999px;
        margin-top: 0;
    }
}

.femtc-hero {
    background: url('/img/hero-femtc.png') no-repeat center center;background-size: cover;
}

.femtc-past-hero {
    background: url('/img/hero-femtc-past.png') no-repeat center center;background-size: cover;
}   

.search-form-mobile {
    transition: max-height 300ms;
    max-height: 0;

    &.open {
        max-height: 60px;
    }
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

// Styleguide

* {
    @apply .text-white;
}

h1, h2, h3, h4, h5, h6 {
    @apply .leading-normal .mb-2;
}

p {
    @apply .leading-normal .mb-2;
}

a {
    color: lighten(#0C3879, 50%);
    @apply .no-underline;
}

table {
    border-collapse: collapse;
    @apply .mb-2;

    th {
        @apply .bg-primary .text-white .border-0 .p-2;
    }

    td {
        @apply .p-2;
    }

    thead {
        @apply .bg-primary .text-left;
    }

    .whiteback {
        background: #fefefe;

        td {
            @apply .text-black;
        }
    }
}


.pagination {
    @apply .list-reset .flex .justify-between;

    li {
        @apply mx-3 .bg-secondary-light rounded-full;

        &.next-parent {
          margin-left: auto;
        }

        &:hover {
            @apply .bg-link;
        }

        @media (max-width: 767px) {
            @apply .mx-2;
        }

        a {
            @apply h-10 w-10 text-white font-bold flex justify-center items-center;

            span {
                @apply text-white font-bold;
            }
        }
    }
}


.content-body {
    p {
        max-width: 48rem;
        @apply .mb-4;
    }
}


#list-builder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  filter: alpha(opacity=80);
  opacity: 0.8;
  display: none;
}

#popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  color: #000000;
  width: 90%;
  max-width: 800px;
  padding: 30px;
  border: 10px solid #1b1b1b;
  display: none;
}

#popup-close {
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
  width: 40px;
}

#popup-box h1 {
  margin: 0;
}

#popup-box form {
  margin-bottom: 0px;
}

#popup-box input {
  padding: 10px;
  border: 1px solid #333;
  width: 40%;
}

#popup-box button {
  padding: 10px;
  border: 1px solid #333;
}
