
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- $cssOpts := (dict "targetPath" "css/main.css" "enableSourceMap" true ) -}}
    {{- $postcssOpts := (dict "config" "assets/config/postcss.config.js" ) -}}
    {{- if .Site.IsServer -}}
    {{- $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS $postcssOpts }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
    {{- else -}}
    {{- $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | postCSS $postcssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" crossorigin="anonymous">
    {{- end }}
  </head>
  <body>
    {{ block "header" . }}
    {{ end }}

    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>