{{ define "main" }}
  <h1>Posts</h1>
  {{ range .Pages }}
    <article>
      <h2><a href={{ .Permalink }}>{{ .Title }}</a></h2>
      {{ .Content | safeHTML | truncate 250 }}
    </article>
  {{ end }}
{{ end }}